body {
  min-width: 300px;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: auto; }

#intro-wrapper {
  background-color: #D6ECFD;
  padding-top: 6rem;
  padding-bottom: 50px; }

#intro {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto; }

#intro-subtitle {
  max-width: 500px;
  margin: auto;
  margin-top: 20px; }

#author-date {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto; }

#author {
  width: 50%;
  text-align: center; }

#date {
  width: 50%;
  text-align: center; }

a {
  cursor: pointer;
  font-weight: 500;
  color: #FC5742; }

button {
  background-color: #FC5742;
  opacity: 0.8;
  font-size: 12px;
  border-radius: 2px;
  height: 23px;
  font-weight: 500;
  border: 1.5px solid;
  cursor: pointer;
  margin: 1px; }

.section-text {
  margin-top: 40px;
  margin-bottom: 40px; }

#main-wrapper {
  background-color: #F1F1F1;
  padding-bottom: 20px; }

#main {
  max-width: 40rem;
  padding: 1rem;
  margin: auto;
  height: 100%; }

.section-title {
  font-weight: 800;
  font-size: 20px; }

.main-section {
  padding-top: 20px;
  padding-bottom: 20px; }

.toplineDots {
  opacity: 0.2;
  fill: #669BB5; }

.avgLine {
  stroke: #FC5742;
  stroke-width: 2;
  stroke-dasharray: 5,4; }

.highlightText {
  fill: #FC5742;
  font-size: 13px;
  text-anchor: middle; }

.axisLabel {
  font-size: 11px;
  text-anchor: middle; }

.timelineDots {
  fill: #669BB5; }

.timelineDots_old {
  fill: #BACFDA; }

.timelineRect {
  opacity: 0.4;
  fill: #BACFDA; }

.timelineLabels {
  font-size: 11px; }

#button-randomize {
  float: right; }

.locationLabel {
  text-anchor: middle;
  font-weight: 700;
  font-size: 15px; }

.lineMarkers {
  stroke: #FC5742;
  stroke-width: 2;
  stroke-dasharray: 5,4; }

.lifeExpectancyBars {
  fill: #D6ECFD; }

.panel {
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #D6ECFD;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out; }

.accordion {
  padding: 5px;
  padding-left: 20px;
  background: #D6ECFD;
  line-height: 30px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0; }

.accordion:after {
  font-size: 13px;
  margin-right: 10px;
  float: right;
  content: '\02795'; }

.active:after {
  content: "\2796"; }

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; }

#ldc-p {
  margin: 0; }

#methods-wrapper {
  padding-top: 50px;
  padding-bottom: 6rem;
  background-color: #D6ECFD; }

#methods {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto; }

#methods-text {
  font-size: 13px;
  font-weight: 300; }

@media screen and (min-width: 399px) {
  h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    font-weight: 900; }
  h3 {
    font-size: 18px;
    font-weight: 300; }
  p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5; } }

@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 900; }
  h3 {
    font-size: 12px;
    font-weight: 300; }
  p {
    font-size: 11px;
    font-weight: 200;
    line-height: 1.5; } }
