body {
  min-width: 300px;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: auto; }

#intro-wrapper {
  background-color: #D6ECFD;
  padding-top: 6rem;
  padding-bottom: 50px; }

#intro {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto; }

#intro-subtitle {
  max-width: 500px;
  margin: auto;
  margin-top: 20px; }

#author-date {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto; }

#author {
  width: 50%;
  text-align: center; }

#date {
  width: 50%;
  text-align: center; }

a {
  cursor: pointer;
  font-weight: 500;
  color: #FC5742; }

button {
  background-color: #F1F1F1;
  opacity: 0.8;
  border-radius: 2px;
  height: 23px;
  font-weight: 500;
  border: 1px solid;
  cursor: pointer;
  margin: 1px;
  margin-left: 10px;
  margin-right: 10px; }

.section-text {
  margin-top: 40px;
  margin-bottom: 40px; }

#main-wrapper {
  background-color: #F1F1F1;
  padding-bottom: 20px; }

#main {
  max-width: 40rem;
  padding: 1rem;
  margin: auto;
  height: 100%; }

.section-title {
  font-weight: 800;
  font-size: 20px; }

.chart-title {
  border-bottom: 1.5px solid;
  padding-bottom: 3px; }

.accordion-section {
  padding-top: 40px; }

.toplineDots {
  opacity: 0.2;
  fill: #669BB5; }

.avgLine {
  stroke: #FC5742;
  stroke-width: 2;
  stroke-dasharray: 5,4; }

.highlightText {
  fill: #FC5742;
  text-anchor: middle; }

.axisLabel {
  text-anchor: middle; }

.timelineDots {
  fill: #669BB5; }

.timelineDots_old {
  fill: #EC9F2E; }

.timelineRect {
  opacity: 0.4;
  fill: #BACFDA; }

.lineMarkers_timeline {
  stroke-width: 1.5;
  stroke-dasharray: 5,4; }

.lineMarkerLabels {
  font-size: 11px; }

.button-container {
  -webkit-box-flex: flex-wrap;
  -ms-flex: flex-wrap;
  flex: flex-wrap;
  margin: auto;
  margin-bottom: 30px; }

#button-worldMetric {
  background-color: #FC5742; }

#button-compMetric {
  background-color: #FC5742; }

.compGroup {
  cursor: pointer; }

.panel {
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #D6ECFD;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out; }

.accordion {
  padding: 5px;
  padding-left: 20px;
  background: #D6ECFD;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0; }

.accordion:after {
  font-size: 13px;
  margin-right: 10px;
  float: right;
  content: '\02795'; }

.active:after {
  content: "\2796"; }

#accordion-ldcTimeline {
  font-size: 13px;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  background-color: #D6ECFD; }

#panel-ldcTimeline {
  background-color: #F1F1F1; }

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; }

#ldc-p {
  margin: 0; }

#otherMetricsTitle {
  margin-top: 20px;
  margin-bottom: 20px; }

#otherMetricsSubhead {
  font-size: 12px;
  margin-top: 0;
  font-weight: 300; }

#button-metricsContainer {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto; }

.button-otherMetrics {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0; }

#button-undernourished {
  width: 110px;
  background-color: #FC5742; }

#button-under5 {
  height: 36px;
  width: 110px; }

#button-maternal {
  height: 36px;
  width: 110px; }

#button-healthExpense {
  width: 130px; }

#button-sanitation {
  height: 36px;
  width: 130px; }

#button-electricity {
  height: 36px;
  width: 100px; }

#button-otherRandomize {
  display: none; }

#button-otherMetric {
  display: none; }

#button-otherChange {
  display: none; }

#methods-wrapper {
  padding-top: 50px;
  padding-bottom: 6rem;
  background-color: #D6ECFD; }

#methods {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto; }

#methods-text {
  font-weight: 300; }

@media screen and (min-width: 399px) {
  h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    font-weight: 900; }
  h3 {
    font-size: 18px;
    font-weight: 300; }
  p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5; }
  .highlightText {
    font-size: 13px; }
  .axisLabel {
    font-size: 11px; }
  .timelineLabels {
    font-size: 11px; }
  .chart-title {
    font-size: 20px; }
  button {
    font-size: 12px; }
  .accordion {
    font-size: 16px; }
  #methods-text {
    font-size: 13px; }
  #otherMetricsTitle {
    font-size: 18px; } }

@media screen and (max-width: 400px) {
  h1 {
    font-size: 28px;
    text-align: center;
    margin: 0;
    font-weight: 900; }
  h3 {
    font-size: 12px;
    font-weight: 300; }
  h5 {
    font-size: 12px; }
  p {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5; }
  .highlightText {
    font-size: 11px; }
  .axisLabel {
    font-size: 9px; }
  .timelineLabels {
    font-size: 9px; }
  .chart-title {
    font-size: 15px; }
  button {
    font-size: 10px; }
  .accordion {
    font-size: 13px; }
  #methods-text {
    font-size: 11px; }
  #otherMetricsTitle {
    font-size: 15px; } }
