$backgroundGray: #F1F1F1;
$blue: #669BB5;
$babyBlue: #D6ECFD;
$accentColor: #FC5742;
$lightBlue: #BACFDA;
$yellow: #E2CA84;

body {
  min-width: 300px;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: auto;
}
#intro-wrapper {
  background-color: $babyBlue;
  padding-top: 6rem;
  padding-bottom: 50px;
}
#intro {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;
}
#intro-subtitle {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}
#author-date {
  max-width: 250px;
  display: flex;
  margin: auto;
}
#author {
  width: 50%;
  text-align: center;
}
#date {
  width: 50%;
  text-align: center;
}

a {
  cursor: pointer;
  font-weight: 500;
  color: $accentColor;
}
button {
  background-color: $backgroundGray;
  opacity: 0.8;
  font-size: 12px;
  border-radius: 2px;
  height: 23px;
  font-weight: 500;
  border: 1px solid;
  cursor: pointer;
  margin: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
.section-text {
  margin-top: 40px;
  margin-bottom: 40px;
}
#main-wrapper {
  background-color: $backgroundGray;
  padding-bottom: 20px;
}
#main {
  max-width: 40rem;
  padding: 1rem;
  margin: auto;
  height: 100%;
}
.section-title {
  font-weight: 800;
  font-size: 20px;
}
.main-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.chart-title {
  border-bottom: 1.5px solid;
  font-size: 20px;
  padding-bottom: 3px;
}
.accordion-section {
  padding-top: 30px;
}
.toplineDots {
  opacity: 0.2;
  fill: $blue;
}
.avgLine {
  stroke: $accentColor;
  stroke-width: 2;
  stroke-dasharray: 5,4;
}
.highlightText {
  fill: $accentColor;
  font-size: 13px;
  text-anchor: middle;
}
.timelineGroup {
  cursor: pointer;
}
.axisLabel {
  font-size: 11px;
  text-anchor: middle;
}
.timelineDots {
  fill: $blue;
}
.timelineDots_old {
  fill: $yellow;
}
.timelineRect {
  opacity: 0.4;
  fill: $lightBlue;
}
.timelineLabels {
  font-size: 11px;
}
.lineMarkers_timeline {
  stroke-width: 1.5;
  stroke-dasharray: 5,4;
}
.lineMarkerLabels {
  font-size: 11px;
  text-anchor: middle;
}
.button-container {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
}
.button-metric {
  background-color: $accentColor;
}
.compGroup {
  cursor: pointer;
}
.panel {
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $babyBlue;
  transition: max-height 0.3s ease-out;
}
.accordion {
  padding: 5px;
  padding-left: 20px;
  background: $babyBlue;
  line-height: 30px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.accordion:after {
  font-size: 13px;
  margin-right: 10px;
  float: right;
  content: '\02795';
}
.active:after {
  content: "\2796";
}
#accordion-ldcTimeline {
  font-size: 13px;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  background-color: $babyBlue;
}
#panel-ldcTimeline {
  background-color: $backgroundGray
}
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#ldc-p {
  margin: 0;
}
#button-metricsContainer {
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 30px;
}
.button-otherMetrics {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
#button-undernourished {
  width: 110px;
  background-color: $accentColor;
}
#button-under5 {
  height: 36px;
  width: 110px;
}
#button-maternal {
  height: 36px;
  width: 110px;
}
#button-healthExpense {
  width: 130px;
}
#button-sanitation {
  height: 36px;
  width: 130px;
}
#button-electricity {
  height: 36px;
  width: 100px;
}
#button-otherRandomize {
  display: none;
}
#button-otherMetric {
  display: none;
}
#button-otherChange {
  display: none;
}
#methods-wrapper {
  padding-top: 50px;
  padding-bottom: 6rem;
  background-color: $babyBlue;
}
#methods {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;
}
#methods-text {
  font-size: 13px;
  font-weight: 300;
}




@media screen and (min-width:399px) {
  h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
  h3 {
    font-size: 18px;
    font-weight: 300;
  }
  p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;
  }
}
@media screen and (max-width:400px) {
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
  h3 {
    font-size: 12px;
    font-weight: 300;
  }
  p {
    font-size: 11px;
    font-weight: 200;
    line-height: 1.5;
  }
}
